
.wrapperRedirection{
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
    
}
.redirection{
   display: flex;
   justify-content: center;
   align-items: center;
   
    
}

.colorRing {
    width: 100%;
    padding: 2rem;
    
}