.loginPage {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.loginPage::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../Images/background.jfif");
  background-position: center left 10%;
  background-size: contain;
  background-color: black;
  opacity: 0.1;
  z-index: -2;
  transform: scale(2);
  animation: scale 5s linear 0s 2 forwards;
}

.loginPage:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  backdrop-filter: blur(2px);
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 30rem;
  min-width: 40rem;
  background-color: gainsboro;
  background-image: url("../Images/365m-removebg-preview.png");
  background-size: 5rem 5rem;
  background-position:top 5%  left 5% ;
  background-repeat: no-repeat;
  
  border-radius: 1rem;
  box-shadow: 1px 2px 5px black;
}
.loginForm p {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.colorText {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4px;
  display: inline-block;
  background-image: linear-gradient(to right, orange, green, blue, yellow);
  background-size: contain;
  background-position: center;
  text-decoration: none;
  -webkit-background-clip: text;
  /*   background-clip: text; */
  -webkit-text-fill-color: transparent;
  animation: textColorAnimation 10s linear 5s 2 alternate-reverse;
}

@keyframes scale {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes textColorAnimation {
  0% {
    background-image: linear-gradient(to right, orange, green, blue, yellow);
  }
  25% {
    background-image: linear-gradient(to right, yellow, orange, green, blue);
  }
  50% {
    background-image: linear-gradient(to right, blue, yellow, orange, green);
  }
  75% {
    background-image: linear-gradient(to right, green, blue, yellow, orange);
  }
  100% {
    background-image: linear-gradient(to right, orange, green, blue, yellow);
  }
}
