.layoutPage {
    width: 100dvw;
    height: 100dvh;
    background-image: url("../Images/background.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
  }

  .wrapperLayoutBox {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
    height: 40rem;
    min-width:  50rem;
    border-radius: 1rem;
    background-color: gainsboro;
  }


  .logoutBox {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2px;
   
  }

  .logoutBox >p{

        font-size: 1.5rem;
       
  }
  
.btnBlue{
    background-color: blue !important;
    color: white !important;
}

.btnBlue:hover{
    background-color: white !important;
    color: blue !important;
}